// Colors
$color-light: #f5f7f8;
$color-primary: hsl(50, 91%, 52%);
$color-primary-cc: #f4ce1480;
$color-secondary: #495e57;
$color-dark: #222222;
$color-dark-cc: #22222299;
$color-red: #f00030;
$color-gray-base: #bbb;
$color-gray-light: #eee;

// Transitions
$duration-min: 0.2s;
$duration-base: 0.3s;

// Radius
$radius-base: 4px;

// Sizes
$text-sm: 14px;
$text-base: 16px;
$text-xl: 18px;

// Checkbox Sizes
$box-sm: 16px;
$box-base: 20px;
$box-xl: 24px;

// Shadows
$shadow-box: rgba(0, 0, 0, 0.24) 0px 3px 8px;
