// Colors
$color-light: #f5f7f8;
$color-primary: #f4ce14;
$color-secondary: #495e57;
$color-dark: #222222;
$color-red: #f00030;

// Transitions
$duration-base: 0.3s;

// Radius
$radius-base: 4px;

// Sizes
$text-sm: 14px;
$text-base: 16px;
$text-xl: 18px;

// Checkbox Sizes
$box-sm: 16px;
$box-base: 20px;
$box-xl: 24px;
